* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
}

/* Header Banner section */
.banner-main {
    height: 100vh;
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    padding-bottom: 0px;



}

.banner-right-img {
    width: 430px;
    height: 520px;
    margin-bottom: 0px;
    padding: 100px 100px 0px 30px;
    align-items: end;

}

.banner-section-left-content {
    text-align: left;
    max-width: 800px;
    padding: 200px 50px 200px 200px;

}

.header-left-title {
    color: #272727;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;

}

.header-left-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.primary-btn {
    background-color: #E55473;
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 20px;
    text-align: center;
}

.primary-btn:hover {
    color: white;
    background-color: #d11b43;
}

/* featured section */
.featured-main {
    margin-top: 100px;
    margin-bottom: 50px;
}

.featured-content {
    width: 45%;
    margin: auto;
    margin-bottom: 50px;

}


.featured-items-section {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.featured-section-divider {
    text-align: center;
    text-decoration: underline;


}

.featured-item-img {
    width: 250px;
    height: 300px;
    align-items: baseline;
    padding: 0px;
    margin-top: 50px;

}


.featured-items-bg-one {
    background-color: rgba(167, 33, 98, 0.15);
    height: 350px;
    width: 265px;
    padding: 30px 30px 0px 30px;
    border-radius: 200px 200px 0px 0px;
    margin-bottom: 30px;
}

.featured-items-bg-two {
    background-color: rgba(5, 151, 160, 0.15);
    height: 350px;
    width: 265px;
    padding: 30px 30px 0px 30px;
    border-radius: 200px 200px 0px 0px;
    margin-bottom: 30px;
}

.featured-items-bg-three {
    background-color: rgba(71, 125, 17, 0.15);
    height: 350px;
    width: 265px;
    padding: 30px 30px 0px 30px;
    border-radius: 200px 200px 0px 0px;
    margin-bottom: 30px;
}

/* Deal section */
.deal-main {
    height: 500px;
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    align-items: center;
    margin: 0px 0px 30px 0px;

}

.deal-left {
    width: 50%;
    margin: 0px 200px 0px 200px;
    text-align: center;

}

.content-header {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
    text-align: center;
}

.special-word {
    color: #d11b43;
}

.content-desc {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;

}


.deal-right {
    width: 50%;
    align-items: end;
}

/* social/instagram section */
.social-main {
    max-width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;

}

.social-content {
    max-width: 50%;
    margin: auto;

}

.social-imgs {
    display: flex;
    justify-content: space-around;
    margin: 50px;

}

.social-imgs-items {
    height: 270px;
    width: 240px;
    margin: 5px;
    padding: 2px;
    box-shadow: 2px 5px 5px 5px rgba(114, 113, 113, 0.219);
    border-radius: 10px;

}

/* Subscribe section */
.subscribe-main {
    background-image: url("../flowerasset/Rectangle09.png");
    background-repeat: no-repeat;
    max-width: 75%;
    height: 300px;
    background-size: cover;
    margin: auto;
    margin-bottom: 100px;

}

.subscribe-content {
    padding-top: 60px;
}


.input-fields {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mail-input {
    height: auto;
    width: 500px;
    padding: 15px 20px;
    border: none;
    border-radius: 8px;
}

/* footer section */
.footer-main {
    background-color: #111010;
    text-align: center;

}

.footer-title {
    color: white;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 20px;
}

.footer-desc {
    color: rgba(255, 255, 255, 0.90);
    width: 40%;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin: auto;
    margin-bottom: 20px;
}

.footer-copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 70px;

}

/* Shop value section/my added Section */
.shop-value-main {
    width: 80%;
    background-color: rgba(229, 84, 115, 0.822);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align:center;
    margin: auto;
    gap: 30px;
    padding: 0px 50px;
    margin-bottom: 50px;
    border-radius: 20px;
}

.shop-value-title {
    color: white;
    font-size: 50px;
    font-weight: 600;
    margin-top: 20px;
}

.shop-value-title-sub {
    margin-top: 10px;
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    -ms-text-kashida-space: 5%;
}